process {
  
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    executor = 'slurm'
    cache    = 'lenient'
    withName: '.*ALIGN'        { cpus = 12; memory = 200.GB; }
    withName: AMBER            { cpus = 16; memory = 24.GB; }
    withName: BAMTOOLS         { cpus = 16; memory = 200.GB; }
    withName: CHORD            { cpus = 4;  memory = 12.GB; }
    withName: COBALT           { cpus = 16; memory = 24.GB; }
    withName: CUPPA            { cpus = 4;  memory = 16.GB; }
    withName: 'ESVEE.*'        { cpus = 32; memory = 64.GB; }
    withName: LILAC            { cpus = 16; memory = 24.GB; }
    withName: 'LINX.*'         { cpus = 16; memory = 30.GB;  conda = '/stornext/Home/data/allstaff/u/ureta.j/.local/share/mamba/envs/test-r-env';}
    withName: REDUX            { cpus = 32; memory = 64.GB; }
    withName: ORANGE           { cpus = 4;  memory = 16.GB; }
    withName: 'PAVE.*'         { cpus = 8;  memory = 32.GB; }
    withName: PURPLE           { cpus = 8;  memory = 40.GB; }
    withName: 'SAGE.*'         { cpus = 32; memory = 64.GB; }
    withName: VIRUSBREAKEND    { cpus = 8;  memory = 64.GB; }
    withName: VIRUSINTERPRETER { cpus = 2;  memory = 8.GB;  }      
    withName: AMPLICONSUITE  { queue = "long"; time=14.d;}
    withName: SAMTOOLS_FAIDX { memory = 100.GB; ext.args = ' '}
    withName: SAMTOOLS_SORT_BAM { memory = 100.GB;}
    withName: SAMTOOLS_INDEX_BAM { memory = 100.GB;}
    withName: 'NFCORE_CIRCDNA:CIRCDNA:CIRCLEMAP_REALIGN' { queue = "long"; time=14.d;} 
    withName: 'NFCORE_CIRCDNA:CIRCDNA:BAM_MARKDUPLICATES_PICARD:PICARD_MARKDUPLICATES' {container = '/home/users/allstaff/ureta.j/scratch/brainmets/picard_3.1.1--hdfd78af_0.sif'; memory = 100.GB; time=16.h;}


}
